*,
*::before
*::after{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header{
    position: relative;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(2rem);
    display: relative;

}

.nav-list{
    list-style: none;
    display: inline-flex;
    align-items: relative;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-size: 1.4rem;
    color: #fff;
    padding: 0.5rem;
    transition: opacity .5s;
}

.nav-list:hover{
    opacity: 7;
}

.logo{
    width: 29px;
}

.search{
    width: 30px;
    margin-top: 0.1cm;
}

.bag{
    width: 30px;
    margin-top: 0.05cm;
}



.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url("search.png")center no-repeat;
}

.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url("bag")center no-repeat;
}

.iphone-11-pro{
    height: 100%;
    background: url("iphone12.jpg");
    margin-top: 3.8em;
    width: 100%; 
    border-top: none;
}

.title{
    color: #fff;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;  
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: 6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price{
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}

.cta{
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link{
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2){
    margin-left: 2.6rem;
}

.cta-link:hover{
    border-bottom: 2px solid #66bbff;
}

.iphone-11{
    background: url("iphone-12-pro.png");
}

.titile-dark{
    color: #000;
}

.cta-link-darker{
    color: #0070c9;
}

.watch{
 background: url("iphone12.jpg");
}

.title-heading-wath{
    height: 7.8rem;
    background: url("iphone12.jpg") center no-repeat;
    background-size: auto 7.8rem;
    margin-top: 1.6rem;
}

.hero{
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
}


